img
 {
    border-top-right-radius: 50%;
    width: 100px;
    height: 100px;
 }
 div.polaroid {
   width: 80%;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 25px;
   display: flex;
   justify-content: right;
   align-items: right;
   text-align: center;
 }
 div.polaroid1 {
   width: 80%;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 25px;
   display: flex;
   justify-content: left;
   align-items: left;
   text-align: center;
 }
 div.container {
   text-align: center;
   padding: 10px 20px;
 }
 a:link{
  background-color: #0da6ff;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover{
  background-color: rgba(255, 0, 0, 0.829);
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
}